*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.wrapperHeader{
    display: flex;
    justify-content: space-around;

    .darkMod{
        button{
            padding: 10px;
        }
        .dark{
            background-color: black;
            color: white;
        }
    }

    .profile{
        .PP{
            width: 7%;
        }
    }
}

.nav{
    padding: 10px;

    ul{
        display: flex;
        justify-content: space-around;

        li{
            list-style: none;
        } 
        & :hover{
            scale: 1.5;
        }
    }
}

.wrapperFilter{

    .filter{
        padding: 10px 0;
        display: flex;
        justify-content: space-around;

        li{
            border: solid 2px black;
            border-radius: 10px;
            padding: 10px;
            list-style: none;
        }
    }
}

.modal{
        display: flex;
        justify-content: center;
        width: 75%;
        position: absolute;

        .modalContent{
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            width: 100%;
            padding: 10px 60px;
            background-color: rgb(129, 43, 43);
            border: solid 1px black;

            .close{
                text-align: right;
                font-size: 44px;
                background-color: aqua;

                .cross{
                    width: 3%;
                }
            }

            .arrowLeft, .arrowRight{
                display: block;
                width: 3%;
            }

            img{
                width: 100%;
            }

            a{
                text-decoration: none;
                color: white;
            }
        }
}

.wrapperItems{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    gap: 15px;
    padding: 10px 0;
    background-color: blue;

    .item-card{
    border-radius: 10px;
    width: 30%;
    background-color: aqua;

    img{
        border-radius: 10px 10px  0 0;
        width: 100%;
    }
    }
}
